@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Satisfy&family=Oswald:wght@200&family=Poppins:wght@200;400;700&family=Open+Sans:wght@200;400;500;700&family=Roboto:wght@200;400;500;700;900&display=swap");
/* font for logo */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
html {
  scroll-behavior: smooth;
}

/* body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
/* starts .navbar-brand */
/* .navbar-brand {
  width: 100px;
} */
.navbar-brand img {
  /* height: 50px; */
  /* put value of image height as your need */
  float: left;
  margin-right: 7px;
}
.is-hidden {
  opacity: 0;
  transition: transform 0.5s, opacity 0.2s;
}
navbar-hide {
  pointer-events: none;
  opacity: 0;
}



/* MODAL. Can be removed afterwards **/
.miniModal_Body {
  min-width: 800px;
  width: auto; /* Expand width as required */
  max-width: 90% !important;
}
/* .modal-content {
  margin-top: 8%;
  border-radius: 0px !important;
} */
.modal-dialog_fs {
  min-width: 82%;
  max-width: 80% !important;
  width: auto;
}
.modal-content_fs {
  margin: 7% auto !important;
  border: none !important;
  border-radius: 0px !important;
}

/*modal close btn*/
.close {
  font-size: 22px !important;
}
.text_bgImg02 {
background-size: cover;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background: transparent;
background-position: center;
-webkit-text-stroke: 0.3px #ffa721;
/* text-shadow: 0 0 97px #ff9b00; */
}
.text_bgImg {
  background: linear-gradient(90deg, #ff9b00, #ffffff);
  background-image: url(../images/abstract-1.jpeg);
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  background-position: center;
  -webkit-text-stroke: 0px #fff;
}
.header-base-unit {
  font-size: 20px;
}

/* Quicks END  */

.fs_cardImageLarge {
  padding-bottom: 100%!important;/* padding-bottom: 100%;*/ /*  aspect-ratio of 1:1 */
  height: 0!important;
  overflow: hidden!important;
}
.fs_cardImageSmallest {
  padding-bottom: 75%!important;  /*padding-bottom: 75%; */ /*  aspect-ratio of 4:3 */
  height: 0!important;
  overflow: hidden!important;
}
.fs_cardImageSmall {
  padding-bottom: 56.25%!important; /*  aspect-ratio of 16:9 */
  height: 0!important;
  overflow: hidden!important;
}
.fs_cardImage01 {
  padding-bottom: 41.25%!important; /* i don't know*/
  height: 0!important;
  overflow: hidden!important;
}
  

  /*padding-bottom: 66.66%;*/ /*  aspect-ratio of 3:2 */
  /*padding-bottom: 62.5%;*/ /*  aspect-ratio of 8:5 */
  /*padding-top: calc(591.44 / 1127.34 * 100%);*/
 


.priceBtn {
     font-weight: 400 !important;
    font-size: 18px;
    min-width: 91px;
    height: 40px;
    color: #fff !important;
    border-radius: 0px !important;
    font-family: "Roboto", "Open Sans", sans-serif;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0 !important;
  margin-bottom: -1px;
  background-color: transparent !important;
  border: 1px solid transparent !important;
}
/* .list-group-item a {
  color: #262626  !important;
} */
.fs_imgShadow {
  box-shadow: -1px 15px 29px -23px #000000a1;
}
/* .no-gutter-card-deck.card-columns {
  column-gap: 6px;
} */

.no-gutter-card-deck > .card {
  margin: 0;
}

.btn[aria-expanded="true"] {
  color: rgba(107, 107, 107, 0.658) !important;
  background-color: transparent!important;
  text-decoration: none;
  box-shadow: none!important;
}

/* my styles */
.fs_standardBtnFontSize{
  font-size: 18px;
  font-family: "Roboto", "Open Sans", sans-serif;
  background: #ff000017;
  border-radius: 0!important;
}


.fs_32borderR{
  border-radius: 32px!important;
}
.fs_16borderR{
  border-radius: 16px!important;
}
.smallModalDio{min-width: 160px;
  width: auto;
  max-width: 25% !important;}
.smallModal01ChildOne{
  position: fixed;
    top: 8%!important;
    right: 0;
    bottom: 0;
    left: 39%!important;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.fs_newBtn{
  border-radius: 0px;
    width: 120px;
    min-height: 42px;
    background: transparent;
    color: black;
    /* box-shadow: -1px 15px 29px -16px #74acbf!important; */
    border: none;
    font-size: 28px;
    font-family: 'Oswald';
}
.form-control {
  font-size: 14px !important;
    font-weight: 400!important;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-color: #efe6ff00;
    transition: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 0px !important;
    height: 40px;
    border: 1px solid #0e0d0d21 !important;
    /* border-bottom: 1px solid black!important;
}

::placeholder {
  color: #fff !important;
}

.form-control:focus {
  color: #262626;
  background-color: transparent!important;
  border-color: #141414;
  border-bottom: 2px solid #000;
  outline: 0;
  box-shadow: none;
}

label {
  /* color: #262626 !important; */
  font-size: 16px !important;
  font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  font-weight: 400;

}
.fs_label{
  position: absolute;
  top: -24%;
  background: #fff;
  left: 5%;
  width: 33%;
  text-align: center;
}
.fs_LThumbImg{}
.fs_MThumbImg{min-height: 160px!important;}
.fs_SThumbImg{min-height: 80px!important;}
.fs_LThumbBdy{min-height: 160px!important;}
.fs_MThumbBdy{min-height: 120px!important;}
.fs_SThumbBdy{min-height: 40px!important;}
.contactCardStyle01{
  background: rgba( 255, 255, 255, 0.25 );
    /* box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 12px!important;
}
.productCardStyle01{
  /* background: #efe6ff; */
  /* border-radius: 12px!important; */
  /* padding: 0 5px; */
  box-shadow: -1px 4px 28px -23px #0c0c0c;
}
.productCardStyle02{
  /* background: #efe6ff; */
  border-radius: 12px!important;
  /* padding: 0 5px; */
  box-shadow: -1px 4px 28px -23px #0c0c0c;
}
.shadowNow{
  box-shadow: -1px 15px 29px -28px #656565;"
}

.fs_12BorderR{
  border-radius: 12px;
}
.fs_8BorderR{
  border-radius: 8px!important;
}
.fs_8BorderRTLR{
  border-top-left-radius: 8px!important;
  border-top-right-radius: 8px!important;
  
}
.fs_8BorderRBLR{
  border-bottom-left-radius: 8px!important;
  border-bottom-right-radius: 8px!important;
}
.fs_8BorderRLTB{
  border-top-left-radius: 8px!important;
  border-bottom-left-radius: 8px!important;
}
.fs_lineHeight{
  line-height: 1;
}
.fs_normalTextShadow{
  text-shadow: 0px 0px 2px #000;
}

.imgDiff{
  /* border-top-right-radius: 12px!important;
  border-bottom-left-radius: 12px!important;
  border-top-left-radius: 150px!important;
  border-bottom-right-radius: 150px!important; */
  box-shadow: 5px 6px 6px -5px #000000;
}
.imgDiff02{
  /* border-top-right-radius: 12px!important;
  border-bottom-left-radius: 12px!important;
  border-top-left-radius: 150px!important;
  border-bottom-right-radius: 150px!important; */
  box-shadow: -5px 6px 6px -5px #000000;
}


.allimgBorderBRsmall {
  border-bottom-right-radius: 22px;
}
.svg50 {
  width: 50%;
  height: 100%;
}
.imgBorderAllsmall {
  border-radius: 22px !important;
}
.imgBorderBLsmall {
  border-bottom-left-radius: 22px !important;
}
.fs_togglerBtn {
     /* width: 100px; */
    /* min-height: 40px; */
    border-radius: 11px!important;
    color: rgb(51 60 75)!important;
    border-color: rgb(51 60 75)!important;
    border: 2px solid!important;
}

/* my media */

@media (min-width: 350px) {
  .carousel-control-prev {
    top: auto!important;
    bottom: 15px!important;
    width: 34px!important;
    height:34px!important;
    color: #fff!important;
    text-align: center;
    opacity: 1!important;
    border: 1px solid!important;
    border-radius: 50%!important;
  
  }
  .carousel-control-prev {
    left: 31px!important;
  }
  .carousel-control-next {
    right: auto!important;
    left: 76px!important;
  }
  .carousel-control-next {
    top: auto!important;
    bottom: 15px!important;
    width: 34px!important;
    height: 34px!important;
    color: #fff!important;
    text-align: center;
    opacity: 1!important;
    border: 1px solid!important;
    border-radius: 50%!important;
  }
 
  .fs_coverImg007{
    min-height: 380px!important;
  }
  .baffinFont{
     font-size:52px; 
    font-family: 'Oswald',"Poppins",'Roboto', sans-serif;
    /* text-transform: lowercase; */
    letter-spacing: 0px;    
  }
  .card-columns {
    -webkit-column-count: 1!important;
    -moz-column-count: 1!important;
    column-count: 1!important;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}
.fs_column_countOnsmall01{
  -webkit-column-count: 1!important;
    -moz-column-count: 1!important;
    column-count: 1!important;
}
  .helloBdyOnSmall{
    
    margin-top: -119px;
    z-index: 1;
    background-color: #fff!important;
    padding: 32px!important;

  }
  .smallModalDio{min-width: 160px;
    width: auto;
    max-width: 25% !important;}
  .smallModal01ChildOne{
    position: fixed;
      top:13%!important;
      right: 0;
      bottom: 0;
      left: 23%!important;
      z-index: 1050;
      display: none;
      overflow: hidden;
      outline: 0;
  }

  .fs_mt50{margin-top: 50px;}
  .fs_onlyMblNegativeMt01{
    margin-top: -120px;
  }
  .fs_roundedImg{
    width: 385px!important;
    min-height: 385px!important;
  }
  .fs_random00701{
    margin-top: -80px;
    margin-left: -48px;
    }
  .fs_bigImg{
    min-height: 400px!important;
  }
  .fs_leftNegative02{
    margin-left: -32px;
  }
  .negativeLeft{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -80px!important;
  }
  
  .fs_onProductButton01 {
    font-size: 12px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_SmallMediumText{
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: .7px;
  }
  .headerButton {
    font-size: 26px;
    border-radius: 8px!important;
    width: 175px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
}
  .fs_onImgText02{
    font-size: 20px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgBtn {
    font-size: 12px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgText{
    font-size: 18px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .productImg{
    min-height: 370px;
  }
  .fs_random007{
    margin-right:0px;
 z-index: 1;
    background: transparent!important;
    margin-top:0px;

   }
   .coverImg{min-height: 520px!important;}
  
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
  .negativeMt{
    margin-top: -9px;
  }
  .headerImg01{
    min-height: 72px!important;
  }
  .headerImg02{
    min-height: 132px!important;
  }
  .headerImg03{
    min-height: 250px!important;
  }
  .headerImg04{
    min-height:390px!important;
  }

  
}
/* ENDS */
@media (min-width: 576px) {
  .carousel-control-prev {
    top: auto!important;
    bottom: 15px!important;
    width: 34px!important;
    height:34px!important;
    color: #fff!important;
    text-align: center;
    opacity: 1!important;
    border: 1px solid!important;
    border-radius: 50%!important;
  
  }
  .carousel-control-prev {
    left: 28px!important;
  }
  .carousel-control-next {
    right: auto!important;
    left: 75px!important;
  }
  .carousel-control-next {
    top: auto!important;
    bottom: 15px!important;
    width: 34px!important;
    height: 34px!important;
    color: #fff!important;
    text-align: center;
    opacity: 1!important;
    border: 1px solid!important;
    border-radius: 50%!important;
  }

  
  .baffinFont{
    font-size: 72px;
    font-family: 'Montserrat','Oswald',"Poppins",'Roboto', sans-serif;
    /* text-transform: lowercase; */
    letter-spacing: 0px;
    
  }
  .card-columns {
    -webkit-column-count: 2!important;
    -moz-column-count: 2!important;
    column-count: 2!important;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}
.fs_column_countOnsmall01{
  -webkit-column-count: 2!important;
    -moz-column-count: 2!important;
    column-count: 2!important;
}
  .fs_baseTopMonLarge{margin-top: 0px;}
  .helloBdyOnSmall{
    
    margin-top: -219px;
    z-index: 1;
    background-color: #fff!important;
    padding: 32px!important;

  }
  .smallModalDio{min-width: 160px;
    width: auto;
    max-width: 25% !important;}
  .smallModal01ChildOne{
    position: fixed;
      top:20%!important;
      right: 0;
      bottom: 0;
      left: -21%!important;
      z-index: 1050;
      display: none;
      overflow: hidden;
      outline: 0;
  }
  .fs_LargeImg {
    padding-bottom: 100%!important;/* padding-bottom: 100%;*/ /*  aspect-ratio of 1:1 */
    height: 0!important;
    overflow: hidden!important;
  }
  .fs_mt50{margin-top: 80px;}
  .fs_onlyMblNegativeMt01{
    margin-top: 80px;
  }
  .fs_roundedImg{
    width: 385px!important;
    min-height: 385px!important;
  }
  .fs_random00701{
    margin-top: -80px;
    margin-left: -48px;
    }
  .fs_bigImg{
    min-height: 550px!important;
  }
  .fs_leftNegative02{
    margin-left: -32px;
  }
  .negativeLeft{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -80px!important;
  }

  .headerButton {
    font-size: 26px;
    border-radius: 8px;
    width: 175px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
}
  .fs_onImgText02{
    font-size: 22px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgBtn {
    font-size: 15px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgText{
    font-size: 22px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .productImg{
    min-height: 320px;
  }
  .fs_random007{
    margin-right: -286px;
    z-index: 1;
    background: transparent!important;
    margin-top:0px;
   }
   .coverImg{min-height: 520px!important;}
  
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
  .negativeMt{
    margin-top: -19px;
  }
  .headerImg01{
    min-height: 72px;
  }
  .headerImg02{
    min-height: 136px;
  }
  .headerImg03{
    min-height: 250px!important;
  }
  .headerImg04{
    min-height: 280px!important;
  }
 

}
/* ENDS */
@media (min-width: 768px) {
  .carousel-control-prev {
    top: auto!important;
    bottom: 51px!important;
    width: 34px!important;
    height:34px!important;
    color: #fff!important;
    text-align: center;
    opacity: 1!important;
    border: 1px solid!important;
    border-radius: 50%!important;
  
  }
  .carousel-control-prev {
    left: 30px!important;
  }
  .carousel-control-next {
    right: auto!important;
    left: 72px!important;
  }
  .carousel-control-next {
    top: auto!important;
    bottom: 51px!important;
    width: 34px!important;
    height: 34px!important;
    color: #fff!important;
    text-align: center;
    opacity: 1!important;
    border: 1px solid!important;
    border-radius: 50%!important;
  }
  .fs_coverImg007{
    min-height: 360px!important;
  }
  .fs_coverImg008{
    min-height: 620px!important;
  }
  .card-columns {
    -webkit-column-count: 3!important;
    -moz-column-count: 3!important;
    column-count: 3!important;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 48px;
    orphans: 1;
    widows: 1;
}
.card-columns .card {
  margin-bottom: 48px;
}
.fs_column_countOnsmall01{
  -webkit-column-count: 3!important;
    -moz-column-count: 3!important;
    column-count: 3!important;
}
  .fs_baseTopMonLarge{margin-top: 80px;}
  .helloBdyOnSmall{
    
    margin-top: 0px;
    z-index: 1;
    background-color: #fff!important;
    padding: 0px!important;

  }
  .smallModalDio{min-width: 160px;
    width: auto;
    max-width: 25% !important;}
  .smallModal01ChildOne{
    position: fixed;
      top: 4%!important;
      right: 0;
      bottom: 0;
      left: 15%!important;
      z-index: 1050;
      display: none;
      overflow: hidden;
      outline: 0;
  }
  
  .fs_roundedImg{
    width: 385px!important;
    min-height: 385px!important;
  }
  .fs_random00701{
    margin-top: -80px;
    margin-left: -48px;
    }
  .fs_bigImg{
    min-height: 750px!important;
  }
  .fs_leftNegative02{
    margin-left: -48px;
  }
  .negativeLeft{
    margin-left: -80px;
    margin-right: 15px;
    margin-top: 80px!important;
  }
  
  .fs_SmallMediumText{
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
    font-size: 15px;
    letter-spacing: .7px;
  }
  .random420{
    margin-top: -50px;
    background: #fff!important;
  }
  .fs_onImgText02{
    font-size: 28px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgBtn {
    font-size: 15px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgText{
    font-size: 30px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .productImg{
    min-height: 620px;
  }
  .fs_random007{
    margin-right: -286px;
    z-index: 1;
    background: transparent!important;
    margin-top:0px;
   }
   .coverImg{min-height: 520px!important;}
  
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
  .negativeMt{
    margin-top: -37px;
  }
  .headerImg01{
    min-height: 62px;
  }
  .headerImg02{
    min-height: 160px;
  }
  .headerImg03{
    min-height: 385px!important;
  }
 
  .headerImg04{
    min-height: 360px!important;
  }
  .fs_mt01{margin-top: 160px;}
}
/* ENDS */
@media (min-width: 992px) {
  .carousel-control-prev {
    top: auto!important;
    bottom: 51px!important;
    width: 34px!important;
    height:34px!important;
    color: #fff!important;
    text-align: center;
    opacity: 1!important;
    border: 1px solid!important;
    border-radius: 50%!important;
  
  }
  .carousel-control-prev {
    left: 57px!important;
  }
  .carousel-control-next {
    right: auto!important;
    left: 100px!important;
  }
  .carousel-control-next {
    top: auto!important;
    bottom: 51px!important;
    width: 34px!important;
    height: 34px!important;
    color: #fff!important;
    text-align: center;
    opacity: 1!important;
    border: 1px solid!important;
    border-radius: 50%!important;
  }
 

  .smallModalDio{min-width: 160px;
    width: auto;
    max-width: 25% !important;}
  .smallModal01ChildOne{
    position: fixed;
      top: 8%!important;
      right: 0;
      bottom: 0;
      left: 39%!important;
      z-index: 1050;
      display: none;
      overflow: hidden;
      outline: 0;
  }
  .fs_mt50{margin-top:126px;}
  .fs_onlyMblNegativeMt01{
    margin-top: 133px;
  }
  .fs_bigImg{
    min-height: 1000px!important;
  }
  .fs_leftNegative02{
    margin-left: -48px;
  }
  .negativeLeft{
    margin-left: -80px;
    margin-right: 80px;
    margin-top: 80px!important;
  }
  
  .fs_onProductButton01 {
    font-size: 15px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
  .fs_onImgText02{
    font-size: 42px;
    line-height: 1;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .productImg{
    min-height: 620px;
  }
  .fs_random007{
    margin-right: -361px;
    z-index: 1;
    background: transparent!important;
    margin-top:0px;
   }
   .coverImg{min-height: 520px!important;}
   .baffinFont{
    font-size: 90px;
    font-family: 'Montserrat',"Poppins",'Roboto', sans-serif;
    /* text-transform: lowercase; */
    letter-spacing: 0px;
    
  }
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
  .negativeMt{
    margin-top: -37px;
  }
  .headerImg01{
    min-height: 72px;
  }
  .headerImg02{
    min-height: 222px;
  }
  .headerImg03{
    min-height: 385px!important;
  }
  .headerImg04{
    min-height: 360px!important;
  }
  
  .fs_roundedImg{
    width: 385px!important;
    min-height: 385px!important;
  }
  .fs_random00701{
    margin-top: -80px;
    margin-left: -48px;
    }
 
  
  .fs_mt01{margin-top: 160px;}
  
}
/* ENDS */
@media (min-width: 1200px) {
  .carousel-control-prev {
    top: auto!important;
    bottom: 17px!important;
    width: 34px!important;
    height: 34px!important;
    color: #000!important;
    text-align: center;
    opacity: 1!important;
    border: 1px solid!important;
    border-radius: 50%!important;
  
  }
  .carousel-control-prev {
    left: 11px!important;
  }
  .carousel-control-next {
    right: auto!important;
    left: 56px!important;
  }
  .carousel-control-next {
    top: auto!important;
    bottom: 17px!important;
    width: 34px!important;
    height: 34px!important;
    color: #000!important;
    text-align: center;
    opacity: 1!important;
    border: 1px solid!important;
    border-radius: 50%!important;
  }
   
   
  .smallModalDio{min-width: 160px;
    width: auto;
    max-width: 25% !important;}
  .smallModal01ChildOne{
    position: fixed;
      top: 8%!important;
      right: 0;
      bottom: 0;
      left: 39%!important;
      z-index: 1050;
      display: none;
      overflow: hidden;
      outline: 0;
  }
  .mediumModalDio{min-width: 800px;
    width: auto;
    max-width: 75% !important;}
  .mediumModal01ChildOne{
    position: fixed;
      top: 8%!important;
      right: 0;
      bottom: 0;
      
      z-index: 1050;
      display: none;
      overflow: hidden;
      outline: 0;
  }
  
  .fs_bigImg{
    min-height: 1371px!important;
  }
  .fs_leftNegative02{
    margin-left: -48px;
  }
  .headerButton{
    font-size: 32px;
    border-radius: 8px;
    width: 260px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
}
 .fs_random007{
  margin-right: -471px;
  z-index: 1;
  background: transparent!important;
  margin-top:0px;
 }
 .coverImg{min-height: 620px!important;}
 
.fs_random00701{
 margin-top: -80px;
 margin-left: -48px;
 }
  .line_height{
    line-height: 48px;
  }
  .productImg{
    min-height: 620px;
  }
 
  .negativeMt{
    margin-top: -24px;
  }
  .headerImg01{
    min-height: 80px;
  }
  .headerImg02{
    min-height: 222px;
  }
  .headerImg03{
    min-height: 385px!important;
  }
 
  .fs_mt01{margin-top: 160px;}
  .randomCardBdy {
    margin-right: -70px;
    z-index: 1;
  }
}
/* ENDS MY MEDIA */
/* START BOSS */
@media (min-width: 350px) {
  .newS01{
   
    /* position: absolute; */
   
    border-top: 5px solid #fff!important;
    border-left: 5px solid #fff!important;
    border-right: 0px!important;
    border-bottom: 0px!important;
  }
  .fs_headerSection_Height {
    min-height: calc(15em + 45vw);
  }
} /* small devices 65vw; */
@media (min-width: 576px) {
  
  .fs_headerSection_Height {
    min-height: calc(10em + 35vw);
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_headerSection_Height {
    min-height: calc(10em + 37vw);
  }
} /* ipad */
@media (min-width: 992px) {
 
  .fs_headerSection_Height {
    min-height: calc(10em + 30vw);
  }
} /* desktop */
@media (min-width: 1200px) {
  .fs_headerSection_Height {
    min-height: calc(10em + 30vw);
  }
} /* large devices */
/* Other bigger section height */
@media (min-width: 350px) {
  .fs_otherBigSection_Height {
    min-height: 45vw;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_otherBigSection_Height {
    min-height: 55vw;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_otherBigSection_Height {
    min-height: 47vw;
  }
} /* ipad */
@media (min-width: 992px) {
  .fs_otherBigSection_Height {
    min-height: 32vw;
  }
} /* desktop */
@media (min-width: 1200px) {
  .fs_otherBigSection_Height {
    min-height: 35vw;
  }
} /* large devices */

/* Move section up on another section */
@media (min-width: 350px) {
  .fs_sectionMoveUp {
    margin-top: -32vw;
  }
}
@media (min-width: 576px) {
  .fs_sectionMoveUp {
    margin-top: -16vw;
  }
} /* Move up with negative margin on another section */
@media (min-width: 768px) {
  .fs_sectionMoveUp {
    margin-top: -19vw;
  }
}
@media (min-width: 992px) {
  .fs_sectionMoveUp {
    margin-top: -15vw;
  }
}
@media (min-width: 1200px) {
  .fs_sectionMoveUp {
    margin-top: -12vw;
  }
}

.cBodyTxtColor {
  color: #928989;
}
.fs_fixed_H100 {
  min-height: 100px;
  max-height: 100px;
}
@media (min-width: 576px) {
  .fs_fixed_H200 {
    min-height: 270px;
    max-height: 270px;
  }
} /* not for small screen */

@media (min-width: 350px) {
  .fs_lcAlign { /* centrally align on mobile */
    margin: 0px auto;  
    text-align: center;
  }
}@media (min-width: 576px) {
  .fs_lcAlign { /* left align everywhere else */
    text-align: left;
  }
}


@media (min-width: 350px) {
  .fs_rcAlign { /* centrally align on mobile */
    margin: 0px auto;  
    text-align: center;
  }
}@media (min-width: 576px) {
  .fs_rcAlign { /* left align everywhere else */
    text-align: right;
  }
}


@media (min-width: 350px) {
  .fs_rcfloat { /* centrally align on mobile */
	float:none;
  }
}@media (min-width: 576px) {
  .fs_rcfloat { /* centrally align on mobile */
	float:right;
  }
}





/* Responsive text */
/* responsive headlines  */

@media (min-width: 350px) {
  .fs_ls { /* letter spacing */
    letter-spacing: 3px
  }
}
@media (min-width: 576px) {
  .fs_ls { /* letter spacing */
    letter-spacing: 5px
  }
}
@media (min-width: 768px) {
  .fs_ls { /* letter spacing */
    letter-spacing: 8px
  }
}@media (min-width: 925px) {
  .fs_ls { /* letter spacing */
    letter-spacing: 10px
  }
}


@media (min-width: 350px) {
  .fs_resp_HL {
    font-size: 34px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_resp_HL {
    font-size: 55px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_resp_HL {
    font-size: 65px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */
@media (min-width: 925px) {
  .fs_resp_HL {
    font-size: 115px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} 
/*  responsive sub headlines  */

@media (min-width: 350px) {
  .fs_resp_SL {
    font-size: 28px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_productHL{
    font-size: 19px;
    font-family:  "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_resp_SL {
    font-size: 30px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_productHL{
    font-size: 26px;
    font-family: "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_resp_SL {
    font-size: 42px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_productHL{
    font-size: 36px;
    font-family:  "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */
/* reponsive margins */
@media (min-width: 350px) {
  .fs_moveUp100{
     top: -100px;
  }
}@media (min-width: 576px) {
  .fs_moveUp100{
     top: 0px;
  }
} 

/*  responsive 'sub sub' headlines  */
@media (min-width: 350px) {
  .fs_resp_Sub_SL {
    font-size: 25px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_resp_Sub_Sub_SL {
    font-size: 19px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }

} /* small devices */
@media (min-width: 576px) {
  .fs_resp_Sub_SL {
    font-size: 30px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_resp_Sub_Sub_SL {
    font-size: 22px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_resp_Sub_SL {
    font-size: 30px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
  .fs_resp_Sub_Sub_SL {
    font-size: 22px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive CARD 'bdyText'.*/
@media (min-width: 350px) {
  .fs_HL_bdyTxt {
    font-size: 22px;
    font-family: "", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_HL_bdyTxt {
    font-size: 25px;
    font-family: "", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_HL_bdyTxt {
		font-size: 25px;
		font-family: "", "Roboto", "Open Sans", sans-serif;
	} /* ipad */
}

/*  responsive 'bdyText'. Show more on mobile. Standard everywhere */
@media (min-width: 350px) {
  .fs_bdyTxt {
    font-size: 19px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_bdyTxt {
    font-size: 17px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_bdyTxt {
    font-size: 17px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive CARD 'bdyText'.*/
@media (min-width: 350px) {
  .fs_card_HL {
    font-size: 20px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_card_HL {
    font-size: 22px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_card_HL {
    font-size: 23px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive CARD 'bdyText'.*/
@media (min-width: 350px) {
  .fs_card_Sub_HL {
    font-size: 18px;
    font-family:"Poppins", "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_card_Sub_HL {
    font-size: 18px;
    font-family:"Poppins", "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_card_Sub_HL {
    font-size: 18px;
    font-family:"Poppins", "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/*  responsive CARD 'bdyText'.*/
@media (min-width: 350px) {
  .fs_card_bdyTxt {
    font-size: 17px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* small devices */
@media (min-width: 576px) {
  .fs_card_bdyTxt {
    font-size: 17px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* Less when content in headers are less. ELSE keep more if content in header is more */
@media (min-width: 768px) {
  .fs_card_bdyTxt {
    font-size: 17px;
    font-family: "PT Sans Narrow", "Roboto", "Open Sans", sans-serif;
  }
} /* ipad */

/* Responsive text */
@media (min-width: 350px) {
  .subHeader-base-font {
    font-size: 12px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
}
@media (min-width: 576px) {
  .subHeader-base-font {
    font-size: 15px;
    font-family: "Poppins", "Roboto", "Open Sans", sans-serif;
  }
}
/* responseive text ends */

/*alignements on small devices*/
